# Ignore PDF files
*.pdf

# Ignore Python byte-compiled files
__pycache__/

# Ignore subfolders in the output directory
output/*/

# Ignore subfolders in the database directory
qa_engine/database/*/
qa_engine/database/*.sqlite3

# Ignore anything within the relevance directory
qa_engine/feedback_database/*/
qa_engine/feedback_database/*.json

# Ignore anything within the input directory
input/*/

# Ignore anything folder the ocr_engine directory
ocr_engine/*/

#Ignore sqlite files
*.sqlite3